@using SecurityOrgPrj.Data.Models;
@model List<Subscription>

@{
	Layout = "_Layout";
}

<div class="Information">
	<a href="/Home/Result">Добавити Підписку</a>
</div>
<table class="resp-tab">
	<thead>
		<tr>
			<th>Id Підписка</th>
			<th>Імя Підписки</th>
			<th>Ціна</th>
			<th>Id замовника</th>
			<th>Id охоронна організація</th>
			<th>Редагувати</th>
			<th>Видалити</th>
		</tr>
	</thead>
	@{ foreach (var item in Model)
		{
			<tbody>
				<tr>

					<td>@item.SubscriptionId</td>
					<td>@item.SubscriptionName</td>
					<td>@item.Price</td>
					<td>@item.CustomerId</td>
					<td>@item.ServiceSecurityOrganizationId</td>
					<td><a asp-controller="Subscription" asp-action="EditSub" asp-route-Id="@item.SubscriptionId">Редагувати</a></td>
					<td><a asp-controller="Subscription" asp-action="DeleteSubscription" asp-route-Id="@item.SubscriptionId">Видалити</a></td>
				</tr>

			</tbody>

		}
	}
</table>


