@using SecurityOrgPrj.Data.Models;
@model Subscription
@{
	Layout = "_Layout";
}


<div class="Success">
	<a href="/Subscription/AllSubscription">Back to Table</a>
</div>
<div class="Main123">



	<form asp-action="EditSub" method="post">
		<div class="form-group">
			<label asp-for="SubscriptionName"></label>
			<div class="col-md-12">
				<input asp-for="SubscriptionName" class="form-control" placeholder="@Model.SubscriptionName"/>

			</div>
		</div>

		<div class="form-group">
			<label asp-for="ServiceId"></label>
			<div class="col-md-12">
				<input asp-for="ServiceId" class="form-control" />
				<span asp-validation-for="ServiceId" class="text-danger" placeholder="@Model.ServiceId"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="ServiceSecurityOrganizationId"></label>
			<div class="col-md-12">
				<input asp-for="ServiceSecurityOrganizationId" class="form-control" />
				<span asp-validation-for="ServiceSecurityOrganizationId" class="text-danger" placeholder="@Model.ServiceSecurityOrganizationId"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="CustomerId"></label>
			<div class="col-md-12">
				<input asp-for="CustomerId" class="form-control" />
				<span asp-validation-for="CustomerId" class="text-danger" placeholder="@Model.CustomerId"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="Price"></label>
			<div class="col-md-12">
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger" placeholder="@Model.Price"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="EndSubscription"></label>
			<div class="col-md-12">
				<input asp-for="EndSubscription" class="form-control" />
				<span asp-validation-for="EndSubscription" class="text-danger"placeholder="@Model.EndSubscription" ></span>
			</div>
		</div>

		<input class="btn btn-success" type="submit" value="Завершити" />
	</form>
</div>